body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide {
	padding-top: -230px;
    margin-left: 0px;
    z-index: 900;
}

.button {
    margin-right: 3px;
}

#buttonbox {
	display: grid;
	grid-template-areas: 'siren horn tkd lock';
	position: absolute;
	float: right;
    right: -230px;
    top: 0px;
	z-index: 900;
}

#sirenbox {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 808px;
	height: 388px;
	left: 0%;
	top: 68%;
	transform-origin: left top;
	transform: scale(0.6);
	background-image: url("../textures/background_off.png");
}